/*
 * Will use this colorway also on main branch; just don't forget to do it
 */

* {
    background-color: #CAD5CA;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}